<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>kity</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>org.kity.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello/*</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Device Register</servlet-name>
    <servlet-class>org.kity.register.DeviceRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Device Register</servlet-name>
    <url-pattern>/register/deivce</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>User Register</servlet-name>
    <servlet-class>org.kity.register.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User Register</servlet-name>
    <url-pattern>/register/user</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SendFCM</servlet-name>
    <servlet-class>org.kity.gcm.Send</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFCM</servlet-name>
    <url-pattern>/send/user</url-pattern>
  </servlet-mapping>
</web-app>